
/* import fonts from fonts.css file */ 
@import url(../fonts.css);

/*  css variables */
@import url(../partials/variables.css);


/* mobile first approach */

/* start navigation */

.header_area .main-menu .navbar
.navbar-brand {
    padding: 0 1rem 0 1rem;
}

.header_area .main-menu .navbar {
    padding: 1rem 1rem;
}

.header_area .main-menu .nav-item .nav-link {
    font: normal 500 15px/2px var(--dosis);
    text-transform: uppercase;
    letter-spacing: .2em;
    padding: .3rem;
    color: var(--title-color);
}

.header_area .main-menu .navbar-nav .active a {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main-menu .navbar-nav
.active a:hover {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* end navigation */
